<section class="sectionHeader brand-main mb-5" id="{{page.pageID}}Header">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

                <div class="text-white text-center py-5 px-4">
                    <div>
                      <h1 class="card-title pt-3 font-bold"><strong>{{page.title}}</strong></h1>
                      <h4 class="mx-5">{{page.description}}</h4>
                    </div>
                </div>

        </div>
    </div>
  </div>
</section>
