<section class="sectionHeader brand-main" id="{{page.pageID}}Header">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

                <div class="text-white text-center py-5 px-4 my-5">
                    <div>
                      <img src="{{ site.github.url }}/img/logo-white.svg" width="100" height="100">
                      <h1 class="card-title pt-3 mb-5 font-bold"><strong>{{page.title}}</strong></h1>
                      <p class="mx-5 mb-5">{{page.description}}</p>
                      <a class="btn btn-outline-white btn-rounded"><i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>

        </div>
    </div>
  </div>
</section>
