<section id="signup">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<h2 class="h1-responsive font-weight-bold text-center">Sign up for early access</h2>
				<form class="form-inline" id="signupForm">
			    <div class="md-form">
						<i class="fa fa-user prefix grey-text"></i>
						<input type="text" id="signupName" class="form-control">
						<label for="signupName">Your name</label>
			    </div>
			    <div class="md-form">
						<i class="fa fa-envelope prefix grey-text"></i>
						<input type="email" id="signupEmail" class="form-control">
						<label for="signupEmail">Your email</label>
			    </div>
						<button class="btn btn-primary" type="submit" id="signupSubmit">Sign up <i class="far fa-paper-plane"></i></button>
				</form>
                <p class="small">To find out how we use your data, read our <a href="{{ site.github.url }}/policies" id="idLink">privacy and cookie policy</a>.</p>
			</div>
		</div>
	</div>
</section>
